.hero {

  @include flex-column-centered;

  min-height: 95vh;
  background: url('../img/hero.webp') no-repeat;
  background-size: cover;
  background-position: center center;
  filter: grayscale(100%);

  &__text-container {
    background: rgba(255,255,255, 0.6);
    padding: 1.6rem 3rem;
    border-radius: 4px;

    position: relative;
    z-index: 1;
    box-shadow: rgba(0,0,0,.18) 0px 3px 8px;
    text-align: center;
  }
  &__header {
    font-size: 5.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin: .8rem 0;
  }
  &__subheader {
    font-size: 2.2rem;
    font-weight: 500;
  }

  @include respond(tab-port) {
    &__header {
       font-size: 6.2rem;
    }
    &__subheader {
      font-size: 2.5rem;
    }
  }

  @include respond(tab-land) {
    align-items: flex-end;

    &__text-container {
      width: 65%;
      padding: 2rem;
    }
    &__header {
      letter-spacing: 1.2rem;
    }
  }



}

.summary {
  text-align: center;
  padding: 5rem $side-padding-small;
  

  &__header {
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }
  &__text {
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 70ch;
  }
}

.services {
  display: grid; 
  grid-template-areas: 
  'setup-image'
  'setup-text'
  'courses-image'
  'courses-text'
  'partners-image'
  'partners-text'
  'contact';

  @include respond(tab-land) {
    grid-template-areas: 
    'setup-image setup-text'
    'courses-text courses-image'
    'partners-image partners-text'
    'contact contact';
  }
  background-color: $black-10;
  border-top: 1px solid lightgray; 

  .service__text {
    padding: 2.4rem $side-padding-small;
    background-color: $black-10;

    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
    .service__header {
      font-size: 2.7rem;
      font-weight: 800;

      @include respond(tab-port) {
        font-size: 2.8rem;
        letter-spacing: 2px;
      }
      
      text-transform: uppercase;
      margin-bottom: 1.6rem;
    }
    .service__description {
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.6rem;
      margin-bottom: 1.6rem;
    }
    .service__features {
      font-size: 1.9rem;
      font-weight: 400;
      line-height: 2.6rem;
      padding: 0 2rem;
    }
    &--setup {
      grid-area: setup-text;
    }
    &--courses {
      grid-area: courses-text;
    }
    &--partners {
      grid-area: partners-text;
    }
  }

  .service__image {
    min-width: 32rem;
    min-height: 32rem;
    @include respond(tab-port) {
      min-height: 40rem;
    }
    filter: grayscale(100%);

    &--setup {
      grid-area: setup-image;
      background: url('../img/setup.webp') no-repeat;
      @include bg-cover-center;

      @include respond(tab-land) {
        background-position: left;
      }
    }
    &--courses {
      grid-area: courses-image;
      background: url('../img/courses.webp') no-repeat;
      @include bg-cover-center;
    }
    &--partners {
      grid-area: partners-image;
      background: url('../img/thinkific.webp') no-repeat;
      background-origin: content-box;
      background-size: contain;
      background-position: center center;
      
      padding: 2.4rem;
      background-color: $black-80;
      @include respond(tab-land) {
        background-color: $black-50;
      }
      filter: graysacale(0);
    }
  }
}

.contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  
  @include respond(tab-land) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    border-right: 1px solid lightgray;
  }

  &__text {
    @include flex-column-centered;
    padding: 8rem $side-padding-small;
    min-height: 20rem;
    background-color: $black-80;
    position: relative;
    text-align: center;
    &::before {
      content: '';
      background: url('../img/logo-solid-white.svg') no-repeat;
      background-size: contain;
      background-position: center center;    
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
      bottom: 0;
      opacity: .10;
    }
  }
  
  &__header {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    margin: 0 0 1.6rem 0;
  }
  &__subheader {
    font-size: 2.2rem;
    font-weight: 500;
    color: $white;
    margin-top: 1.6rem;
  }
  &__email {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    color: yellow;
    margin-top: 1.6rem;
    
  }
}

hr {
  @include hr-ball($black-60);
}